name: flutter_fast_generators
description: "Flutter Fast (Flutter App Simplified developmenT) - Annotation Generators"
version: 0.0.1
homepage:
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter_fast:
    git:
      url: https://github.com/stefanosiano/FlutterFast.git
    
  analyzer: ^9.0.0
  source_gen: ^4.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
